# Python
__pycache__/
*.py[cod]

# venv
.venv/
venv/
env/
calendar_env/

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

# Временные и выходные
*.log
*.tmp
*.swp
*.xlsx
*.csv

# Локальные данные/тесты
data/
test_images/

# Docker локалки
.env
docker-compose.override.yml
